// color
$black: #000000;
$white: #ffffff;
$light-grey: #a4a4a4;
$mid-grey: #616a74; // mid-grey
$red: #da3131;
$cherry: #721c24;
$pink: #f5c6cb;
$light-pink: #f8d7da;
$purple: #8477c9;
$lavendar: #e7e6ff;
$violet: #6856c4;
$dark-green: #155724;
$mint: #c3e6cb;
$light-mint: #d4edda;

// spacing
$spacing-xxl: 64px;
$spacing-xl: 48px;
$spacing-l: 40px;
$spacing-m: 32px;
$spacing-xs: 24px;
$spacing-xsx: 20px;
$spacing-xxs: 16px;
$spacing-xxxsx: 12px;
$spacing-xxxs: 8px;

// breakpoints
$breakpoint-tablet: 600px;
$breakpoint-desktop: 920px;
$breakpoint-desktop-lg: 1150px;
$breakpoint-highres: 1280px;

$phone-and-down: "only screen and (max-width : #{$breakpoint-tablet})" !default;
$tablet-and-down: "only screen and (max-width : #{$breakpoint-desktop})" !default;