// color
$black: #000000;
$white: #ffffff;
$light-grey: #E0E0E0;
$red: #da3131;
$orange: #ffb059;
$purple: #8477c9;
$lavendar: #e7e6ff;
$green: #06ca8c;
$blue: #23b9e8;

// spacing
$spacing-xxl: 64px;
$spacing-xl: 48px;
$spacing-l: 40px;
$spacing-m: 32px;
$spacing-xs: 24px;
$spacing-xsx: 20px;
$spacing-xxs: 16px;
$spacing-xxxs: 8px;